.btn{
    flex: 1 1 auto;
    height: 10vh;
    font-size: medium;
}

.btn-primary .btn{
    border-color: rgb(63, 5, 117);
    background-color: rgb(63, 5, 117);
}
.btn-primary:hover .btn:hover{
    background-color: blueviolet;
    border-color: blueviolet
}

.btn-group, .btn-primary{
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
    display: flex; 
    flex-wrap: wrap;
}

#mybtn{
    background-color: darkorchid;
    border-color: darkorchid;
}

#mybtn:hover{
    background-color: purple;
    border-color: purple;
}

#disconnect{
    background-color: red;
    border-color: red;
}

#disconnect:hover{
    background-color: darkred;
    border-color: darkred;
}

.container_center{
    display: flex; 
    flex-wrap: wrap;
    padding: 50px;
}

.photo_profil{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  align-items: center;
  align-content: center;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  } 

clr-col-lg-5, clr-col-lg-6, clr-col-12{
    flex: 1 1 auto;
    max-width: 100%;
}

.clr-row{
    justify-content: center;
}