<!DOCTYPE html>
<html lang="fr" style="height: 100%">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui.min.css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
        <link rel="stylesheet" href="https://unpkg.com/clarity-icons/clarity-icons.min.css">
        <script src="https://unpkg.com/@webcomponents/custom-elements/custom-elements.min.js"></script>
        <script src="https://unpkg.com/clarity-icons/clarity-icons.min.js"></script>
        <title>{{title}}</title>
    </head>
    <body style="height: 100%">
        {% block content %}
        {% endblock %}
    </body>
</html>
