{% extends "homeConnected.html" %}
{% block chatbot %}
        <div class="card" style="width: 40vh; height: 400px; position:fixed; right: 0px; bottom: 0px">
            <div class="card-header">
                Chatbot
            </div>
            <div class="card-block" style="overflow-y: scroll; height: 275px">
                {% for i, m in msg %}
                    {% if i % 2 == 0 %}
                        <div class="card" style="width: 50%">
                    {% else %}
                        <div class="card" style="width: 50%; right: 0px; background-color: blueviolet">
                    {% endif %}
                    <div class="card-block">
                        {% if i % 2 == 0 %}
                            <p class="card-text">
                        {% else %}
                            <p class="card-text" style="color: white">
                        {% endif %}
                            {{ m }}
                        </p>
                    </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <form method="POST">
                    <input type="text">
                    <button class="btn" type="submit" style="height:100%">Envoyer</button>
                </form>
            </div>
        </div>
{% endblock %}