{% extends "base.html" %}
{% block content %}
    <div class="top" style="display: flex;justify-content: space-between; padding-left: 2%; padding-right: 2%">
        <a href="/" style="font-size: 40px; font-weight: bold"><</a>
        {% if user != None %}  
            <p>{{ user.prenom }} {{ user.nom }}</p>
        {% else %}
            <button class="btn">Connexion</button>
        {% endif %}
    </div>
    <h1 style="margin-left: 5%;font-weight: bold">{{ title }}</h1>
    <div class="cat" style="justify-content: space-evenly; display: flex">
    {% for c in cat %}
        <a href="#" class="card clickable" style="background-color: hsl(282, 43%, 54%); flex: 0 1 15%">
            <div class="card-header" style="color:white">{{c}}</div>
        </a>
    {% endfor %}
    </div>
    <div class="posts" style="display: flex; flex-wrap: wrap; padding-left: 10%; padding-top: 3%">
        {% for p in posts %}
            <a href="#" class="post" style="flex: 1 0 90% ; display: inline-flex ; align-items: center">
                <h4 style="font-weight: bold">{{ p.categorie }}</h4>
                <div style="border-left: 2px solid red; height: 8vh; margin-left: 10%"></div>
                <div class="infos" style="margin-left: 5%">
                    <div class="card" style="background-color: hsl(282, 43%, 54%) ; width: 8vw ; justify-content: center">
                        <div clas="card-header" style="color: white ; align-content: center">
                            {{ p.date }}
                        </div>
                    </div>
                    <p>By {{ p.author }}</p>
                </div>
                <p style="margin-left: 2%">{{ p.title }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}