{% extends "base.html" %}
{% block content %}
    <div class="btn-group btn-primary">
        <button class="btn" onClick="window.location.href = '#Sante';">Santé</button>
        <button class="btn" onClick="window.location.href = '#Logement';">Logement</button>
        <button class="btn" onClick="window.location.href = '#Bourse';">Bourse</button>
        <button class="btn" onClick="window.location.href = '#Emplois';">Emplois</button>
        <button class="btn" onClick="window.location.href = '#Etudes';">Etudes</button>
        <button class="btn" onClick="window.location.href = '#Bons plans';">Bons plans</button>
        <button class="btn" id="mybtn" onclick="location.href='/forum';">
            <clr-icon shape="talk-bubbles" class="is-solid" size="24" style="margin-right:5px;"></clr-icon>Forum
        </button>
        <button class="btn" id="disconnect" onClick="window.location.href = '/deconnexion';" style="padding: 0px">
                <clr-icon shape="logout" class="is-solid" size="24" style="margin-right:0px; padding: 0px"></clr-icon>
        </button>
    </div>
    <div class="container_center">
        <div class="photo_profil">
            <clr-icon shape="happy-face" size="150" style="flex: 1 1 auto;"></clr-icon>
                <p style="font-weight: bold; font-size: 18px">{{current_user.firstname}}  {{current_user.name}}  ({{current_user.age}})</p>
                <p>{{current_user.sexe}}</p>
        </div>
    </div>
    <div style="display: flex; flex-wrap: wrap; width: 100vw"><a id="Sante"></a>
        <p style="text-align: left;flex: 1 1 auto; padding-left: 15vw; font-size: 25px; font-weight: bold;">{{current_user.mail}}</p>
        <p style="text-align: right;flex: 1 1 auto; padding-right: 20vw; font-size: 25px; font-weight: bold;">{{current_user.ville}}</p>
    </div>
    <br>
    <div>
    <h2 style="padding-left: 2vw">Santé</h2><a id="Logement"></a>
    <hr>
    <div style="align-content: center"> 
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <div class="card-header">
                        Pour trouver toutes les réponses à vos questions concernant la santé : <a href="https://www.etudiant.gouv.fr/cid96660/une-question-sur-votre-sante-besoin-d-aide.html" style="font-size: 17px">rendez-vous ici</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <h2 style="padding-left: 2vw">Logement</h2>
        <hr>
    </div>
    <div style="align-content: center"> 
        <div class="clr-row" style="margin-left: 15px;">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card" style="display: inline-flex; flex-wrap: wrap;">
                    <clr-icon shape="home" size="120" style="margin-right: 15px; align-self: center"></clr-icon>
                    <div class="card-block" style="flex: 1 1 40%; padding: 10px">
                            <p style="margin-bottom: 10px; font-size: 20px; margin-top: 0px; font-weight: bold">Reserver chambre Crous</p>
                        <div class="card-title">
                            Prochaine date butoire : demarchelogement.datebutoire
                        </div>
                        <div class="card-text">
                            Pour cette réservation vous devrez fournir demarchelogement.nbdocuments documents.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <div class="card-header"> <a id="Bourse"></a>
                        Pour trouver un logement avec le Crous : <a href="https://trouverunlogement.lescrous.fr/" style="font-size: 17px">ça se passe ici</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <div class="card-header">
                        Pour faire une demande de logement social : <a href="https://www.demande-logement-social.gouv.fr/index.do" style="font-size: 17px">c'est ici qu'il faut se rendre</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="align-content: center">
        <h2 style="padding-left: 2vw">Bourse</h2>
        <hr>
        <div> 
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                            Pour découvir le montant de bourse auquel vous pouvez prétendre  : <a href="https://simulateur.lescrous.fr/" style="font-size: 17px">ça se passe ici</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                            Pour tout savoir sur le calcul des APL : <a href="https://www.toutsurmesfinances.com/immobilier/apl-etudiant-2018-conditions-simulation-et-demande.html" style="font-size: 17px">rendez-vous ici</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header"><a id="Emplois"></a>
                            Pour avoir toutes les informations nécessaires à propos de la CVEC : <a href="https://cvec.etudiant.gouv.fr/" style="font-size: 17px">cliquez ici</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                            Pour payer facilement partout sur le campus : <a href="http://www.izly.fr/" style="font-size: 17px">toutes les informations se trouvent ici</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="align-content: center">
        <h2 style="padding-left: 2vw">Emplois</h2>
        <hr>
        <div> 
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                            Pour se renseigner sur les metiers qui s'offre à vous : <a href="http://www.onisep.fr/Decouvrir-les-metiers" style="font-size: 17px">tout se trouve ici</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                                Pour trouver un emploi en parallèle de vos études : <a href="https://www.jobaviz.fr/" style="font-size: 17px">ce site est fait pour vous</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header"><a id="Etudes"></a>
                                Pour trouver un emploi ou un job saisonnier : <a href="https://www.indeed.fr/" style="font-size: 17px">n'hésitez pas à jeter un oeil ici</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div style="align-content: center">
        <h2 style="padding-left: 2vw">Etudes</h2>
        <hr>
        <div> 
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                                Pour trouver la filière post-bac qui vous correspond : <a href="http://www.onisep.fr/Choisir-mes-etudes/Apres-le-bac" style="font-size: 17px">rendez-vous ici</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header"><a id="Bons plans"></a>
                                Pour s'inscrire dans une formation : <a href="https://www.parcoursup.fr/" style="font-size: 17px">tout se passe ici</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-row">
                <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                    <div class="card">
                        <div class="card-header">
                                Pour vous réorienter : <a href="http://www.onisep.fr/Choisir-mes-etudes/Apres-le-bac#Reorientation-dans-le-superieur" style="font-size: 17px">vouis trouverez toutes les informations ici</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
    <h2 style="padding-left: 2vw">Bons plans</h2>
    <hr>
    <div style="align-content: center"> 
        <div class="clr-row">
            <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
                <div class="card">
                    <div class="card-header">
                            Pour trouver les bons plans qui vous sont proposés : <a href="https://loisirs.lescrous.fr/Ucpa//WebApp/index.php?ws_action=subscribe" style="font-size: 17px">rendez-vous ici</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block chatbot %}
    {% endblock %}
{% endblock %}
<script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
                page_index = anchor.id
            });
        });
    </script>