{% extends "base.html" %}
{% block content %}

<div style="height: 100vh; display: flex; flex-direction: column; justify-content: space-evenly">

    <header class="header header-1 ; border:1px solid black">
        <div class="header-actions ; border:1px solid black">
            <button class="btn btn-primary" onclick="location.href = '/forum';">
                <span style="font-size: 1.7em;">
                    Forum
                </span>
            </button>
        </div>
    </header>
    <h1 style="text-align: center; font-weight: bold; font-size: 2.5 em">Bienvenue !</h1>
    <section style="width : 100vw; height: 25vh; display: flex; justify-content: space-around">
        <a href="#section_sante" class="btn btn-primary" style="width : 20vw; height: 90%;">
            <h1>Santé</h1>
        </a>
        <a href="#section_logement" class="btn btn-primary" style="width : 20vw; height: 90%;">
            <h1>Logements</h1>
        </a>
        <a href="#section_aides_financieres" class="btn btn-primary" style="width : 20vw; height: 90%;">
            <h1>Aides financières</h1>
        </a>
    </section>
    <section style="width : 100vw; height: 25vh; display: flex; justify-content: space-around">
        <a href="#section_emplois" class="btn btn-primary" style="width : 20vw; height: 90%;">
            <h1>Emplois</h1>
        </a>
        <a href="#section_bons_plans" class="btn btn-primary" style="width : 20vw; height: 90%;">
            <h1>Bons plans</h1>
        </a>
    </section>
    <section style="width : 100vw; height: 25vh; display: flex; align-items: center; flex-direction: column">
        <button class="btn btn-info-outline con_modal_opener" data-toggle="modal" data-target="#exampleModal">
            Se connecter
        </button>
        <p>Pas encore inscrit ?</p>
        <p style="text-decoration: underline; color:blue"><a>Créer un compte</a></p>
    </section>
</div>

<div id="section_sante" style="padding-left : 5%; padding-right: 5%">
    <h2>Santé</h2>
    <hr>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
</div>

<div id="section_logement" style="padding-left : 5%; padding-right: 5%">
    <h2>Logements</h2>
    <hr>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
</div>

<form class="clr-form">
    ... form controls inside
</form>



<div id="section_aides_financieres" style="padding-left : 5%; padding-right: 5%">
    <h2>Aides financières</h2>
    <hr>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
</div>

<div id="section_emplois" style="padding-left : 5%; padding-right: 5%">
    <h2>Emplois</h2>
    <hr>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet   consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
</div>
<div id="section_bons_plans" style="padding-left : 5%; padding-right: 5%">
    <h2>Bons plans</h2>
    <hr>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
        <div class="card" style="flex-grow: 2; margin: 1vw">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nesciunt molestiae accusantium quo nihil
                quas assumenda, eum error ipsum architecto et repudiandae minima vitae nostrum, id deserunt quisquam
                officia maiores!</p>
        </div>
    </div>

</div>
<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            Array.prototype.forEach.call(document.getElementsByClassName("active_link"), function (
                link) {
                link.className = link.className.replace(" active_link", "")
            })
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
            page_index = anchor.id
            anchor.className = anchor.className + " active_link"
        });
    });
</script>
{% endblock %}